<header>
		<div class="container">
			<div class="row">
				<div class="col-md-6 logo-sec">
					<div class="logo">
						<a href="javascript:void(0)">
							<img src="assets/images/logo.png">
							<span>Customer Portal</span>
						</a>
					</div>
				</div>	
				<div class="col-md-6 right-side">
					<ul>
						<li>
							<a href="javascript:void(0)">
								<img src="assets/images/profile-img.png">
								<span>Ask from demoCoder</span>
							</a>
						</li>
						<li class="profile-sec">	
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img src="assets/images/profile-img.png"> <span>Dropdown button</span>
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#"><i class="fa fa-user lft-icon"></i> Action</a>
									<a class="dropdown-item" href="#"><i class="fa fa-mobile lft-icon"></i> 0758468545</a>
									<a class="dropdown-item" href="#"><i class="fa fa-envelope lft-icon"></i> test@gmail.com</a>
									<a class="dropdown-item" href="#"><span>Please keep your contact details up to date</span> <i class="fa fa-pencil rt-icon"></i></a>
								</div>
							</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
	</header>

	<div class="mobile-header">
		<div class="container">
			<ul class="dropdown">
				<li class="menu-icons" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="menu-icons"></span>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						<a class="dropdown-item" href="#"><i class="fa fa-user lft-icon"></i> Action</a>
						<a class="dropdown-item" href="#"><i class="fa fa-mobile lft-icon"></i> 0758468545</a>
						<a class="dropdown-item" href="#"><i class="fa fa-envelope lft-icon"></i> test@gmail.com</a>
						<a class="dropdown-item" href="#"><span>Please keep your contact details up to date</span> <i class="fa fa-pencil rt-icon"></i></a>
					</div>
				</li>
				<li class="logo-section"><a href="javascript:void(0)"><img src="assets/images/logo.png"><span>Customer Portal</span></a></li>
				<li class="pro-img-sec border-img"><img src="assets/images/profile-img.png"></li>
				<li class="pro-img-sec profile-img"><img src="assets/images/profile-img.png"></li>
			</ul>
			
		</div>
	</div>

	<div class="notification-sec">
		<div class="container">
			<h2 class="dash-title">My Dashboard</h2>
			<div class="notifications">
				<ul class="notify-list owl-carousel owl-theme">
					<li>
						<i class="fa fa-bell-o"></i>
						<span>a premium payment if 12.567 LKR is due for Policy No. #897897897 on 13th July 2018</span>
						<a href="javascript:void(0)">Pay now</a>
					</li>
					<li>
						<i class="fa fa-bell-o"></i>
						<span>a premium payment if 12.567 LKR is due for Policy No. #897897897 on 13th July 2018</span>
						<a href="javascript:void(0)">Pay now</a>
					</li>
					<li>
						<i class="fa fa-bell-o"></i>
						<span>a premium payment if 12.567 LKR is due for Policy No. #897897897 on 13th July 2018</span>
						<a href="javascript:void(0)">Pay now</a>
					</li>
					<li>
						<i class="fa fa-bell-o"></i>
						<span>a premium payment if 12.567 LKR is due for Policy No. #897897897 on 13th July 2018</span>
						<a href="javascript:void(0)">Pay now</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="my-product">
		<div class="container">
			<div class="product-inner">
				<div class="head">
					<div class="row">
						<div class="col-md-6 lft-sec">
							<i class="fa fa-user"></i>
							<span>My Product</span>
							<i class="fa fa-play-circle-o mob-video-play"></i>
						</div>
						<div class="col-md-6 rt-sec">
							<ul>
								<li><a href="javascript:void(0)" class="about-advisor">About Advisor</a></li>
								<li>
									<a href="javascript:void(0)" class="watch-product-video">About your Product - Watch video
									<i class="fa fa-play-circle-o"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="about-advisor-sec">
					<div class="inner-advisor">
						<span class="heading">My Advisor</span>
						<ul>
							<li>
								<span class="title">name</span>
								<span class="title-val">ABC, EDSD</span>
							</li>
							<li>
								<span class="title">advisor code</span>
								<span class="title-val">UAC051</span>
							</li>
							<li>
								<span class="title">mobile number</span>
								<span class="title-val">+94778854621</span>
							</li>
							<li>
								<span class="title">office number</span>
								<span class="title-val">+94778854621</span>
							</li>
							<li>
								<span class="title">address</span>
								<span class="title-val">60 C/01 Weekanda Homagana</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="video-section">
					<div class="row">
						<div class="col-md-6 banner-sec cstm-col">
							<div class="inner">
								<img src="assets/images/goyo.jpg">
							</div>
						</div>
						<div class="col-md-6 vid-sec cstm-col">
							<div class="inner">
								<img src="assets/images/video.jpg">
							</div>
						</div>
					</div>
				</div>
				<div class="product-grid">
					<div class="row">
						<div class="col-md-6 left-grid cstm-col">
							<div class="inner">
								<div class="row">
									<div class="col-md-4 grid">
										<span class="title">product name</span>
										<span class="sub-title">Union Load Protection Policy</span>
									</div>
									<div class="col-md-4 grid second-grid">
										<span class="title">customer reviews</span>
										<span class="sub-title">14</span>
									</div>
									<div class="col-md-4 grid third-grid">
										<span class="title">product rating</span>
										<span class="star-fill"><i class="fa fa-star fill"></i></span>
										<span class="star-fill"><i class="fa fa-star fill"></i></span>
										<span class="star-fill"><i class="fa fa-star fill"></i></span>
										<span class="star-fill"><i class="fa fa-star fill"></i></span>
										<span class="star-fill"><i class="fa fa-star no-fill"></i></span>
									</div>
								</div>
							</div>
							<div class="content-sec">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat.</p>
							</div>
						</div>
						<div class="col-md-6 rt-grid cstm-col">
							<div class="rt-inner">
								<div class="row">
									<div class="col-md-4 cstm-col">
										<span class="title">term</span>
										<p><span class="int-val clr-grey">120</span> months</p>
									</div>
									<div class="col-md-4 cstm-col">
										<span class="title">sum assured</span>
										<p><span class="int-val clr-blue">450,432</span> LKR</p>
									</div>
									<div class="col-md-4 cstm-col">
										<span class="title">premium amount</span>
										<p><span class="int-val clr-green">13,432</span> LKR</p>
									</div>
									<div class="col-md-4 cstm-col">
										<span class="title">cover multiple</span>
										<p><span class="int-val clr-blue">5,432</span> LKR</p>
									</div>
									<div class="col-md-4 cstm-col">
										<span class="title">illustrated fund on maturity</span>
										<p><span class="int-val clr-blue">722,767</span> LKR <span class="percent">@ 10%</span></p>
									</div>
								</div>
								<div class="btn-sec">
									<a href="javascript:void(0)" class="btn-compare">Compare</a>
									<a href="javascript:void(0)" class="btn-dtl">View Details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="my-information">
		<div class="container">
			<div class="info-inner">
				<div class="head">
					<i class="fa fa-user"></i>
					<span class="title">My Information</span>
				</div>
				<div class="bottom-sec">
					<div class="row">
						<div class="col-md-6 cstm-col lft-side">
							<div class="inner">
								<div class="inner-head">
									<h3>Main Life</h3>
									<i class="fa fa-check-circle-o"></i>
								</div>
								<div class="btm-sec">
									<div class="img-sec">
										<img src="assets/images/profile-pic.png">
										<i class="fa fa-pencil"></i>
									</div>
									<div class="content-sec">
										<div class="row">
											<div class="col-md-6 cstm-col">
												<span class="title">title</span>
												<span class="title-val">Miss.</span>
											</div>
											<div class="col-md-6 cstm-col">
												<span class="title">insured name:</span>
												<span class="title-val">Dilhara Perera</span>
											</div>
											<div class="col-md-6 cstm-col grid">
												<div class="row">
													<div class="col dob">
														<span class="title">date of birth</span>
														<span class="title-val">02 August 1989</span>
													</div>
													<div class="col age">
														<span class="title">age</span>
														<span class="title-val">28</span>
													</div>
												</div>
											</div>
											<div class="col-md-6 cstm-col grid">
												<div class="row">
													<div class="col nic">
														<span class="title">NIC number</span>
														<span class="title-val">897845478V</span>
													</div>
													<div class="col mob">
														<span class="title">mobile number</span>
														<span class="title-val">0772304747</span>
													</div>
												</div>
											</div>
											<div class="col-md-6 cstm-col">
												<span class="title">address</span>
												<span class="title-val">32/B 2nd Lane,Colombo 4</span>
											</div>
											<div class="col-md-6 cstm-col">
												<span class="title">email</span>
												<span class="title-val">dilhara89@gmail.com</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 cstm-col rt-side">
							<div class="rt-inner">
								<div class="gray-heading">
									<span class="title">Spouse</span>
									<img src="assets/images/close-icon.png">
								</div>
								<div class="white-head">
									<p>not covered by this package.</p>
								</div>
								<div class="tabs-sec">
									<nav>
										<div class="nav nav-tabs" id="nav-tab" role="tablist">
											<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Child 01</a>
											<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Child 02</a>
											<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Child 03</a>
											<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact1" role="tab" aria-controls="nav-contact" aria-selected="false">Child 04</a>
										</div>
									</nav>
									<div class="tab-content" id="nav-tabContent">
										<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
											<div class="row">
												<div class="col-md-3 cstm-col">
													<span class="title">title</span>
													<span class="title-val">Miss.</span>
												</div>
												<div class="col-md-3 cstm-col">
													<span class="title">insured name</span>
													<span class="title-val">Dilhara Perera</span>
												</div>
												<div class="col-md-3 cstm-col">
													<span class="title">date of birth</span>
													<span class="title-val">02 August 1989</span>
												</div>
												<div class="col-md-3 cstm-col">
													<span class="title">age</span>
													<span class="title-val">28.</span>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
											<div class="row">
												<div class="col-md-3 cstm-col">
													<span class="title">title</span>
													<span class="title-val">Miss.</span>
												</div>
												<div class="col-md-3 cstm-col">
													<span class="title">insured name</span>
													<span class="title-val">Dilhara Perera</span>
												</div>
												<div class="col-md-3 cstm-col">
													<span class="title">date of birth</span>
													<span class="title-val">02 August 1989</span>
												</div>
												<div class="col-md-3 cstm-col">
													<span class="title">age</span>
													<span class="title-val">28.</span>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
											<div class="row">
												<div class="col-md-3 cstm-col">
													<span class="title">title</span>
													<span class="title-val">Miss.</span>
												</div>
												<div class="col-md-3 cstm-col">
													<span class="title">insured name</span>
													<span class="title-val">Dilhara Perera</span>
												</div>
												<div class="col-md-3 cstm-col">
													<span class="title">date of birth</span>
													<span class="title-val">02 August 1989</span>
												</div>
												<div class="col-md-3 cstm-col">
													<span class="title">age</span>
													<span class="title-val">28.</span>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="nav-contact1" role="tabpanel" aria-labelledby="nav-contact-tab">
											<div class="row">
												<div class="col-md-3 cstm-col">
													<span class="title">title</span>
													<span class="title-val">Miss.</span>
												</div>
												<div class="col-md-3 cstm-col">
													<span class="title">insured name</span>
													<span class="title-val">Dilhara Perera</span>
												</div>
												<div class="col-md-3 cstm-col">
													<span class="title">date of birth</span>
													<span class="title-val">02 August 1989</span>
												</div>
												<div class="col-md-3 cstm-col">
													<span class="title">age</span>
													<span class="title-val">28.</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="benefit-sec">
		<div class="container">
			<div class="bene-inner">
				<div class="top-head">
					<div class="row">
						<div class="col-md-6 lft-sec cstm-col">
							<i class="fa fa-user"></i>
							<span class="title">Additional Benefits</span>
						</div>
						<div class="col-md-6 rt-sec cstm-col">
							<ul>
								<li><a href="javascript:void(0)">Main Life</a></li>
								<li><a href="javascript:void(0)">Spouse</a></li>
								<li><a href="javascript:void(0)">Children</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="accordion" id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
							<div class="row">
								<div class="col-md-3 cstm-col">
									<span class="title">Protection</span>
								</div>
								<div class="col-md-3 cstm-col sum-assure">
									<span class="sub-title">sum assured</span>
									<span class="ass-val">1,560</span>
									<span class="lkr">LKR</span>
								</div>
								<div class="col-md-3 cstm-col premumin-sc">
									<span class="sub-title">premium</span>
									<span class="ass-val">1,560</span>
									<span class="lkr">LKR</span>
								</div>
								<h5 class="mb-0">
									<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-chevron-down"></i></button>
								</h5>
							</div>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-md-3 cstm-col">
										<span class="bld-title">ADB</span>
										<span class="sub-title">accident death benefit</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">sum assured</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">premium</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title">Learn about ADB - <a href="javascript:void(0)" class="sub-title">Watch video</a></span>
										<i class="fa fa-play-circle-o"></i>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="row">
									<div class="col-md-3 cstm-col">
										<span class="bld-title">ADB</span>
										<span class="sub-title">accident death benefit</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">sum assured</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">premium</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title">Learn about ADB - <a href="javascript:void(0)" class="sub-title">Watch video</a></span>
										<i class="fa fa-play-circle-o"></i>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="row">
									<div class="col-md-3 cstm-col">
										<span class="bld-title">ADB</span>
										<span class="sub-title">accident death benefit</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">sum assured</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">premium</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title">Learn about ADB - <a href="javascript:void(0)" class="sub-title">Watch video</a></span>
										<i class="fa fa-play-circle-o"></i>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="card">
						<div class="card-header" id="headingTwo">
							<div class="row">
								<div class="col-md-3 cstm-col">
									<span class="title">Health</span>
								</div>
								<div class="col-md-3 cstm-col sum-assure">
									<span class="sub-title mob-title">sum assured</span>
									<span class="ass-val">1,560</span>
									<span class="lkr">LKR</span>
								</div>
								<div class="col-md-3 cstm-col premumin-sc">
									<span class="sub-title mob-title">premium</span>
									<span class="ass-val">1,560</span>
									<span class="lkr">LKR</span>
								</div>
								<h5 class="mb-0">
									<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><i class="fa fa-chevron-down"></i></button>
								</h5>
								<div class="clearfix"></div>
							</div>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-md-3 cstm-col">
										<span class="bld-title">ADB</span>
										<span class="sub-title">accident death benefit</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">sum assured</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">premium</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title">Learn about ADB - <a href="javascript:void(0)" class="sub-title">Watch video</a></span>
										<i class="fa fa-play-circle-o"></i>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="row">
									<div class="col-md-3 cstm-col">
										<span class="bld-title">ADB</span>
										<span class="sub-title">accident death benefit</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">sum assured</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">premium</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title">Learn about ADB - <a href="javascript:void(0)" class="sub-title">Watch video</a></span>
										<i class="fa fa-play-circle-o"></i>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="row">
									<div class="col-md-3 cstm-col">
										<span class="bld-title">ADB</span>
										<span class="sub-title">accident death benefit</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">sum assured</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">premium</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title">Learn about ADB - <a href="javascript:void(0)" class="sub-title">Watch video</a></span>
										<i class="fa fa-play-circle-o"></i>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingThree">
							<div class="row">
								<div class="col-md-3 cstm-col">
									<span class="title">Investment</span>
								</div>
								<div class="col-md-3 cstm-col sum-assure">
									<span class="sub-title mob-title">sum assured</span>
									<span class="ass-val">1,560</span>
									<span class="lkr">LKR</span>
								</div>
								<div class="col-md-3 cstm-col premumin-sc">
									<span class="sub-title mob-title">premium</span>
									<span class="ass-val">1,560</span>
									<span class="lkr">LKR</span>
								</div>
								<h5 class="mb-0">
									<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="headingThree"><i class="fa fa-chevron-down"></i></button>
								</h5>
								<div class="clearfix"></div>
							</div>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-md-3 cstm-col">
										<span class="bld-title">ADB</span>
										<span class="sub-title">accident death benefit</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">sum assured</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">premium</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title">Learn about ADB - <a href="javascript:void(0)" class="sub-title">Watch video</a></span>
										<i class="fa fa-play-circle-o"></i>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="row">
									<div class="col-md-3 cstm-col">
										<span class="bld-title">ADB</span>
										<span class="sub-title ">accident death benefit</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">sum assured</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">premium</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title">Learn about ADB - <a href="javascript:void(0)" class="sub-title">Watch video</a></span>
										<i class="fa fa-play-circle-o"></i>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="row">
									<div class="col-md-3 cstm-col">
										<span class="bld-title">ADB</span>
										<span class="sub-title">accident death benefit</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">sum assured</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title mob-title">premium</span>
										<span class="ass-val">1,560</span>
										<span class="lkr">LKR</span>
									</div>
									<div class="col-md-3 cstm-col">
										<span class="sub-title">Learn about ADB - <a href="javascript:void(0)" class="sub-title">Watch video</a></span>
										<i class="fa fa-play-circle-o"></i>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 

	<div class="request-sec">
		<div class="container">
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active" id="nav-claim-tab" data-toggle="tab" href="#nav-claim" role="tab" aria-controls="nav-claim" aria-selected="true">
						<i class="fa fa-user"></i>
						<span class="req-title">Request A Claim</span>
					</a>
					<a class="nav-item nav-link" id="nav-request-tab" data-toggle="tab" href="#nav-request" role="tab" aria-controls="nav-request" aria-selected="false">
						<i class="fa fa-user"></i>
						<span class="req-title">Request A Service</span>
					</a>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-claim" role="tabpanel" aria-labelledby="nav-claim-tab">
					<div class="content">
						<div class="head">
							<span class="title">Fill Following Claim Form Accurately</span>
							<span class="right-side">How to request a claim - watch video <i class="fa fa-play-circle-o"></i></span>
						</div>
						<div class="body-sec">
							<div class="row">
								<div class="col-md-6 left-sec">
									<div class="row">
										<div class="col-md-8">
											<div class="row">
												<div class="col-md-6">
													<span class="title">customer name</span>
													<span class="title-val">Dilhara Perera</span>
												</div>
												<div class="col-md-6">
													<span class="title">NIC number</span>
													<span class="title-val">882145342V</span>
												</div>
												<div class="col-md-12 cstm-dropdown-sec">
													<span class="title">policy number & type</span>
													<select class="cstm-dropdown">
														<option>KJ81456 - Union Load Protection</option>
													</select>
												</div>
												<div class="col-md-12 cstm-dropdown-sec">
													<span class="title">Claim type</span>
													<select class="cstm-dropdown">
														<option>Accident</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-4 grid-right">
											<div class="cstm-rw-1">
												<span class="title">submission date</span>
												<span class="title-val">16th july 2018</span>
											</div>
											<div class="cstm-rw-2">
												<span class="title">status</span>
												<span class="title-val od-clr">Rejected</span>
											</div>
											<div class="cstm-rw-3">
												<span class="title">Reason</span>
												<span class="title-val od-clr">document mismatch</span>
												<a href="javascript:void(0)">read more</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 rt-sec">
									<div class="cstm-rw">
										<span class="heading">Document uploader</span>
										<i class="fa fa-upload upload-icon"></i>
									</div>
									<div class="cstm-rw rw">
										<span class="title">img 0998540.jpeg</span>
										<div class="row">
											<div class="col-md-8">
												<div class="progress-bar">
													<div class="progresss" style="width: 50%;background: green;"></div>
												</div>
											</div>
											<div class="col-md-4 percent-sec">
												<div class="percent-txt">
													<span>50% complete</span>
													<a href="javascript:void(0)"><i class="fa fa-times-circle-o"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="cstm-rw rw">
										<span class="title">img 0998541.jpeg</span>
										<div class="row">
											<div class="col-md-8">
												<div class="progress-bar">
													<div class="progresss" style="width: 10%;background: #862929;"></div>
												</div>
											</div>
											<div class="col-md-4 percent-sec">
												<div class="percent-txt">
													<span>10% complete</span>
													<a href="javascript:void(0)"><i class="fa fa-times-circle-o"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="cstm-rw rw btn-sec">
										<a href="javascript:void(0)"  class="btn-reset btn-cstm">Reset</a>
										<a href="javascript:void(0)" class="btn-submit btn-cstm">Submit</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="nav-request" role="tabpanel" aria-labelledby="nav-request-tab">
					<div class="content">
						<div class="head">
							<span class="title">Fill Following Service Form Accurately</span>
							<span class="right-side">How to request a claim - watch video <i class="fa fa-play-circle-o"></i></span>
						</div>
						<div class="body-sec">
							<div class="row">
								<div class="col-md-6 left-sec">
									<div class="row">
										<div class="col-md-8">
											<div class="row">
												<div class="col-md-6">
													<span class="title">customer name</span>
													<span class="title-val">Dilhara Perera</span>
												</div>
												<div class="col-md-6">
													<span class="title">NIC number</span>
													<span class="title-val">882145342V</span>
												</div>
												<div class="col-md-12 cstm-dropdown-sec">
													<span class="title">policy number & type</span>
													<select class="cstm-dropdown">
														<option>KJ81456 - Union Load Protection</option>
													</select>
												</div>
												<div class="col-md-12 cstm-dropdown-sec">
													<span class="title">Claim type</span>
													<select class="cstm-dropdown">
														<option>Accident</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-4 grid-right">
											<div class="cstm-rw-1">
												<span class="title">submission date</span>
												<span class="title-val">16th july 2018</span>
											</div>
											<div class="cstm-rw-2">
												<span class="title">status</span>
												<span class="title-val od-clr">Rejected</span>
											</div>
											<div class="cstm-rw-3">
												<span class="title">Reason</span>
												<span class="title-val od-clr">document mismatch</span>
												<a href="javascript:void(0)">read more</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 rt-sec">
									<div class="cstm-rw">
										<span class="heading">Document uploader</span>
										<i class="fa fa-upload upload-icon"></i>
									</div>
									<div class="cstm-rw rw">
										<span class="title">img 0998540.jpeg</span>
										<div class="row">
											<div class="col-md-8">
												<div class="progress-bar">
													<div class="progresss" style="width: 50%;background: green;"></div>
												</div>
											</div>
											<div class="col-md-4 percent-sec">
												<div class="percent-txt">
													<span>50% complete</span>
													<a href="javascript:void(0)"><i class="fa fa-times-circle-o"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="cstm-rw rw">
										<span class="title">img 0998541.jpeg</span>
										<div class="row">
											<div class="col-md-8">
												<div class="progress-bar">
													<div class="progresss" style="width: 10%;background: #862929;"></div>
												</div>
											</div>
											<div class="col-md-4 percent-sec">
												<div class="percent-txt">
													<span>10% complete</span>
													<a href="javascript:void(0)"><i class="fa fa-times-circle-o"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="cstm-rw rw btn-sec">
										<a href="javascript:void(0)"  class="btn-reset btn-cstm">Reset</a>
										<a href="javascript:void(0)" class="btn-submit btn-cstm">Submit</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="export-mail-sec">
		<div class="container">
			<div class="row">
				<div class="col-md-6 lft-col">
					<div class="inner">
						<div class="head">
							<i class="fa fa-user"></i>
							<span class="title">Export & mail</span>
							<span class="right-title">How to Export & Mail - Watch video
								<i class="fa fa-play-circle-o"></i>
							</span>
						</div>
						<div class="body-sec">
							<div class="cstm-rw">
								<div class="row">
									<div class="col-md-10">
										<div class="row">
											<div class="col-md-6 cstm-col send-mail-sec">
												<i class="fa fa-envelope first-icon"></i>
												<span class="first-title send-mail-title">Send as a Mail</span>
											</div>
											<div class="col-md-6 email-sec">
												<span class="title">email address</span>
												<span class="email">kalupahana@mail.com</span>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 cstm-col">
												<img src="assets/images/envelop.png">
												<span class="first-title">Export as a PDF</span>
											</div>
										</div>
									</div>
									<div class="col-md-2 send-btn-sec">
										<div class="inner">
											<a href="javascript:void(0)" class="send-btn"><i class="fa fa-send"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 lft-col">
					<div class="inner">
						<div class="head">
							<i class="fa fa-user"></i>
							<span class="title">Payments</span>
							<span class="right-title">How to make a payment - Watch video
								<i class="fa fa-play-circle-o"></i>
							</span>
						</div>
						<div class="body-sec">
							<div class="cstm-rw">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-6 cstm-col">
												<i class="fa fa-mobile first-icon"></i>
												<span class="first-title">Send as a Mail</span>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 cstm-col">
												<i class="fa fa-cc-visa first-icon"></i>
												<span class="first-title">Credit card Payments</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="export-mail-sec signature-sec">
		<div class="container">
			<div class="row">
				<div class="col-md-6 lft-col">
					<div class="inner">
						<div class="head">
							<i class="fa fa-user"></i>
							<span class="title">Acceptance & signoff</span>
							<span class="right-title">How to signoff a proposal - Watch video
								<i class="fa fa-play-circle-o"></i>
							</span>
						</div>
						<div class="body-sec">
							<div class="row">
								<div class="col-md-6 left-col">
									<span>Main life</span>
								</div>
								<div class="col-md-6 right-col">
									<div class="inner">
										<span>Spouse</span>
									</div>
								</div>
							</div>
							<div class="content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
							<div class="sign-sec">
								<div class="row">
									<div class="col-md-8 lft-sign">
										<div class="inner-sign">
											<img src="assets/images/sign.png">
										</div>
									</div>
									<div class="col-md-4 check-section">
										<div class="check-sec">
											<input type="checkbox" name="">
											<span>Agree</span>
										</div>
										<a href="javascript:void(0)" class="accept-btn">Accept</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 lft-col offer-sec">
					<div class="inner">
						<div class="head">
							<i class="fa fa-user"></i>
							<span class="title">Offers</span>
						</div>
						<div class="body-sec">
							<img src="assets/images/goyo.jpg">
							<div class="bottom-sec">
								<span>* condition apply</span>
								<a href="javascript:void(0)" class="purchase-btn">Accept</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="documents-sec">
		<div class="container">
			<div class="inner">
				<div class="head">
					<div class="left-title">
						<i class="fa fa-user"></i>
						<span class="heading">Documents</span>
					</div>
					<span class="right-title">How to submit documents - Watch video 
						<i class="fa fa-play-circle-o"></i>
					</span>
				</div>
				<div class="body-sec">
					<div class="row">
						<div class="col-md-6 lft-sec">
							<div class="rw">
								<span class="title">Main Life</span>
							</div>
							<div class="rw has-left-border">
								<span class="title">Signature Card</span>
								<ul class="listing">
									<li><a href="javascript:void(0)"><i class="fa fa-upload"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></li>
								</ul>
							</div>
							<div class="rw prog-sec">
								<span class="title">image 0098560.jpeg</span>
								<div class="row">
									<div class="col-md-8">
										<div class="progress-bar">
											<div class="progresss" style="width: 50%;background: green;"></div>
										</div>
									</div>
									<div class="col-md-4 percent-sec">
										<div class="percent-txt">
											<span>50% complete</span>
											<a href="javascript:void(0)"><i class="fa fa-times-circle-o"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="rw has-left-border">
								<span class="title">Signature Card</span>
								<ul class="listing">
									<li><a href="javascript:void(0)"><i class="fa fa-upload"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></li>
								</ul>
							</div>
							<div class="rw has-left-border">
								<span class="title">Signature Card</span>
								<ul class="listing">
									<li><a href="javascript:void(0)"><i class="fa fa-upload"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></li>
								</ul>
							</div>
							<div class="rw has-left-border">
								<span class="title">Signature Card</span>
								<ul class="listing">
									<li><a href="javascript:void(0)"><i class="fa fa-upload"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></li>
								</ul>
							</div>
							<div class="rw has-left-border">
								<span class="title">Signature Card</span>
								<ul class="listing">
									<li><a href="javascript:void(0)"><i class="fa fa-upload"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 rt-sec">
							<div class="rw spouse">
								<span class="title">Spouse</span>
							</div>
							<div class="rw">
								<span class="title">Signature Card</span>
								<ul class="listing">
									<li><a href="javascript:void(0)"><i class="fa fa-upload"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></li>
								</ul>
							</div>
							<div class="rw">
								<span class="title">Signature Card</span>
								<ul class="listing">
									<li><a href="javascript:void(0)"><i class="fa fa-upload"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></li>
								</ul>
							</div>
							<div class="rw">
								<span class="title">Signature Card</span>
								<ul class="listing">
									<li><a href="javascript:void(0)"><i class="fa fa-upload"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></li>
								</ul>
							</div>
							<div class="rw">
								<span class="title">Signature Card</span>
								<ul class="listing">
									<li><a href="javascript:void(0)"><i class="fa fa-upload"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></li>
								</ul>
							</div>
							<div class="rw">
								<span class="title">Signature Card</span>
								<ul class="listing">
									<li><a href="javascript:void(0)"><i class="fa fa-upload"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>